.form-control {
  background-image: url(./assets/images/pattern-bg-desktop.png);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.leaflet-container {
  height: 65vh;
  width: 100%;
  z-index: 0;
}
.card {
  top: 64px;
}
@media screen and (max-width: 775px) {
  .form-control {
    background-image: url(./assets/images/pattern-bg-mobile.png);
    height: 40vh;
  }
  .container {
    padding: 0 20px;
  }
  .card {
    top: 25px;
  }
}
